html, body, #app{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fila{
    display: flex;
    flex-direction: row;
}

.columna{
    display: flex;
    flex-direction: column;
}

/* ------------------ Tipografias ---------------- */

.font-skranji-reg{
    font-family: 'Skranji', serif;
    color: #4a2a00;
    font-weight: 400;
}

.font-skranji-bold{
    font-family: 'Skranji', serif;
    color: #4a2a00;
    font-weight: 700;
}

.font-medieval{
    font-family: 'MedievalSharp', serif;
    color: #4a2a00;
    font-weight: 400;
}

@font-face {
  font-family: 'MedievalSharp';
  src: url('/src/assets/fonts/MedievalSharp/MedievalSharp-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Skranji';
  src: url('/src/assets/fonts/Skranji/Skranji-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Skranji';
  src: url('/src/assets/fonts/Skranji/Skranji-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


/* ----------------------IMPRESION--------------- */
@media print {
  body {
    margin: 0;
  }

  .no-print {
    display: none;
  }

  .sheet {
    width: 190mm;
    height: 277mm;

    display: grid;
    grid-template-columns: repeat(2, 92mm);
    grid-template-rows: repeat(2, 100mm);

    gap: 5mm;

    page-break-after: always;
  }

  .carta {
    width: 92mm;
    height: 100mm;

    box-sizing: border-box;
    page-break-inside: avoid;
  }
}


@page {
    size: A4;
    margin: 10mm;
}
