.fila{
    display: flex;
    flex-direction: row;
}

.columna{
    display: flex;
    flex-direction: column;
}

@media print {
  body {
    margin: 0;
  }

  .no-print {
    display: none;
  }

  .sheet {
    width: 190mm;
    height: 277mm;

    display: grid;
    grid-template-columns: repeat(2, 92mm);
    grid-template-rows: repeat(2, 100mm);

    gap: 5mm;

    page-break-after: always;
  }

  .carta {
    width: 92mm;
    height: 100mm;

    box-sizing: border-box;
    page-break-inside: avoid;
  }
}


@page {
    size: A4;
    margin: 10mm;
}
